{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        },
        "corejs": "2"
      }
    ]
  ]
}